<form [formGroup]="frmGroup" novalidate>
	<div name="pnlGridListMallaCurricular" *ngIf="!mostrarPanelForm">
		<mat-card>
			<span *ngIf="showModal">{{'mallaCurricular.pnl.title' | transloco}}</span>
			<button mat-icon-button *ngIf="showComponentPage" (click)="regresarPage()" color="accent">
				<mat-icon class="mat-24">reply</mat-icon>
			</button>
			<mat-form-field class="search-full-width" color="accent">
				<mat-icon matPrefix>search</mat-icon>
				<input [maxlength]="20" matInput name="searchname" autocompleteOff  #searchname [formControl]="term" type="text"
					placeholder="{{'search' | transloco}}">
				<button matSuffix mat-icon-button *ngIf="term.value" aria-label="Clear" (click)="term.setValue('')">
					<mat-icon>close</mat-icon>
				</button>
				<button matSuffix mat-icon-button matTooltip="{{'buscar' | transloco}}" (click)="buscar()">
					<mat-icon class="mat-24">replay</mat-icon>
				</button>
				<button matSuffix mat-mini-fab matTooltip="{{'nuevo' | transloco}}" *ngIf="showAccionNuevo"
					(click)="nuevo()" color="accent" class="app-fabx">
					<mat-icon>add</mat-icon>
				</button>
			</mat-form-field>
			<mat-card-content>
				<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row">
					<div fxFlex="50%" fxFlex.xs="50%">
						<div class="div-input-text" >
							<mat-form-field class="input-full-width">
								<mat-label>{{'anhio' | transloco}}</mat-label>
								<input matInput  [formControl]="filtroAnhio">
								<mat-error *ngIf="(invalid('filtroAnhio')  )">
									<span
										*ngIf="invalid('filtroAnhio')">{{getError('filtroAnhio')}}</span>
								</mat-error>
								<mat-icon matSuffix class="lupa-ico" (click)="abrirModalAnhioFiltro()">search</mat-icon>
							</mat-form-field>
						</div>
					</div>
					<div fxFlex="50%" fxFlex.xs="50%">
						<div class="div-input-select">
							<mat-form-field class="input-full-width">
								<mat-label>{{'estado' | transloco}}</mat-label>
								<mat-select class="input-full-width" 
								[formControl]="filtroEstado"  (selectionChange)="eventEstado()">
									<mat-option *ngFor="let it of typeSelectItemService.listaEstado" [value]="it.id">
										 {{it.nombre}}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="(invalid('filtroEstado') )">
									<span *ngIf="invalid('filtroEstado')">{{getError('filtroEstado')}}</span>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>

				<mat-nav-list>
					<mat-list dense>
						<h3 mat-subheader *ngIf="titlePage != ''">{{titlePage}}</h3>
						<h3 mat-subheader>{{'mallaCurricular.grilla.pnl.title' | transloco}} ({{listasize}})</h3>
						<mat-list-item *ngFor="let mallaCurricular of listaMallaCurricular" class="noright">
							<mat-icon mat-list-icon (click)="buscarID(mallaCurricular)">description</mat-icon>
							<p mat-line>{{mallaCurricular.anhio.idAnhio}} {{mallaCurricular.grado.descripcionView}}</p>
							<mat-checkbox *ngIf="showAccionCheck" color="accent"
								(change)="agregarCheck(mallaCurricular)" name="checkedView" #checkedView="ngModel"
								[(ngModel)]="mallaCurricular.checked">
							</mat-checkbox>
							<button matTooltip="{{'asociar' | transloco}}" *ngIf="showModal && !showAccionCheck"
								mat-icon-button (click)="asociar(mallaCurricular)" color="accent">
								<mat-icon class="mat-24">add_circle_outline</mat-icon>
							</button>
							<button matTooltip="Lista de Cursos" *ngIf="showAccionModificar"
								(click)="verDetalleMallaCurri(mallaCurricular)" mat-icon-button color="accent">
								<mat-icon class="mat-24">library_books</mat-icon>
							</button>
							<button matTooltip="{{'modificar' | transloco}}" *ngIf="showAccionModificar"
								(click)="buscarID(mallaCurricular)" mat-icon-button color="accent">
								<mat-icon class="mat-24">edit</mat-icon>
							</button>
							<button matTooltip="{{'eliminar' | transloco}}" *ngIf="showAccionEliminar"
								(click)="confirmarEliminar(mallaCurricular)" mat-icon-button color="accent">
								<mat-icon class="mat-24">delete</mat-icon>
							</button>
							<mat-divider></mat-divider>
						</mat-list-item>
					</mat-list>
				</mat-nav-list>
				<app-paginacion [dataProvider]="dataProvider" [cantidadPage]="cantidadPage"
					(change)="getBufferedData($event)"></app-paginacion>
			</mat-card-content>
		</mat-card>
		<button matTooltip="{{'asociar' | transloco}}" *ngIf="showAccionAsociar" mat-fab
			(click)="dialogRef.close(listaMallaCurricularSelectMap)">
			<mat-icon>check_circle</mat-icon>
		</button>
	</div>

	<div name="pnlGridFrmMallaCurricular" *ngIf="mostrarPanelForm">
		<mat-card>
			<mat-card-header>
				<div mat-card-avatar>
					<mat-icon>description</mat-icon>
				</div>
				<mat-card-title *ngIf="accionNuevo ">{{'title.crear' | transloco }}</mat-card-title>
				<mat-card-title *ngIf="!accionNuevo">{{'title.modificar' | transloco }}</mat-card-title>
				<div fxFlex></div>
				<button *ngIf="verDetMallaCurricular" (click)="cancelar()" color="accent" mat-raised-button>{{'cancelar'
					| transloco}}</button>
			</mat-card-header>
			<mat-divider></mat-divider>
			<p></p>
			<mat-card-content>
				<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row">
					<div fxFlex="50%" fxFlex.xs="50%">
						<div class="div-input-text" formGroupName="anhio">
							<mat-form-field class="input-full-width">
								<mat-label>{{'anhio' | transloco}}</mat-label>
								<input [readonly]="verDetMallaCurricular" matInput  formControlName="descripcionView">
								<mat-error *ngIf="(invalid('anhio.descripcionView')  )">
									<span
										*ngIf="invalid('anhio.descripcionView')">{{getError('anhio.descripcionView')}}</span>
								</mat-error>
								<mat-icon *ngIf="!verDetMallaCurricular"  matSuffix class="lupa-ico" (click)="abrirModalAnhioanhio()">search</mat-icon>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row">
					<div fxFlex="50%" fxFlex.xs="50%">
						<div class="div-input-text" formGroupName="grado">
							<mat-form-field class="input-full-width">
								<mat-label>{{'grado' | transloco}}</mat-label>
								<input [readonly]="verDetMallaCurricular" matInput formControlName="descripcionView"
									required>
								<mat-error *ngIf="(invalid('grado.descripcionView')  )">
									<span
										*ngIf="invalid('grado.descripcionView')">{{getError('grado.descripcionView')}}</span>
								</mat-error>
								<mat-icon *ngIf="!verDetMallaCurricular" matSuffix class="lupa-ico" (click)="abrirModalGradogrado()">search</mat-icon>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row">
					<div fxFlex="50%" fxFlex.xs="50%">
						<div class="div-input-select">
							<mat-form-field class="input-full-width">
								<mat-label>{{'estado' | transloco}}</mat-label>
								<mat-select [disabled]="verDetMallaCurricular" class="input-full-width"
									formControlName="estado" [required]="true">
									<mat-option *ngFor="let it of typeSelectItemService.listaEstado" [value]="it.id">
										 {{it.nombre}}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="(invalid('estado') )">
									<span *ngIf="invalid('estado')">{{getError('estado')}}</span>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>
			</mat-card-content>
			<mat-card-actions *ngIf="!verDetMallaCurricular">
				<button style="margin-right: 10px;" (click)="guardar()" color="primary" [disabled]="frmGroup.invalid"
					mat-raised-button>{{'guardar' | transloco}}</button>

				<button (click)="cancelar()" color="accent" mat-raised-button>{{'cancelar' | transloco}}</button>
			</mat-card-actions>
		</mat-card>
		<app-detmallacurricular *ngIf="verDetMallaCurricular" [id]="mallaCurricular.idMallaCurricular">
		</app-detmallacurricular>
	</div>
</form>