 <form [formGroup]="frmGroup"  novalidate>
 	<div name="pnlGridListDetRentaQuintaCategoria" *ngIf="!mostrarPanelForm"  >
	<mat-card>
	    <span *ngIf="showModal" >{{'detRentaQuintaCategoria.pnl.title' | transloco}}</span>
		<button mat-icon-button *ngIf="showComponentPage" (click)="regresarPage()" color="accent">
			<mat-icon class="mat-24">reply</mat-icon>
		</button>
		<mat-form-field class="search-full-width" color="accent">
			<mat-icon matPrefix>search</mat-icon>
			<input [maxlength]="20" matInput name="searchname" autocompleteOff  #searchname [formControl]="term" type="text"
					placeholder="{{'search' | transloco}}">
			<button matSuffix mat-icon-button *ngIf="term.value" aria-label="Clear" (click)="term.setValue('')">
				<mat-icon>close</mat-icon>
			</button>
			<button matSuffix mat-icon-button matTooltip="{{'buscar' | transloco}}" (click)="buscar()">
				<mat-icon class="mat-24">replay</mat-icon>
			</button>
			<button matSuffix mat-mini-fab matTooltip="{{'nuevo' | transloco}}" *ngIf="showAccionNuevo"
					(click)="nuevo()" color="accent" class="app-fabx">
				<mat-icon>add</mat-icon>
			</button>
		</mat-form-field>	  
	    <mat-card-content>
		 <mat-nav-list>
      	  <mat-list dense>
			 <h3 mat-subheader *ngIf="titlePage != ''" >{{titlePage}}</h3> 
      	     <h3 mat-subheader>{{'detRentaQuintaCategoria.grilla.pnl.title' | transloco}} ({{listasize}})</h3>
			 <mat-list-item *ngFor="let detRentaQuintaCategoria of listaDetRentaQuintaCategoria" class="noright">
			   <mat-icon mat-list-icon (click)="buscarID(detRentaQuintaCategoria)" >folder</mat-icon>
				 <mat-checkbox *ngIf="showAccionCheck" color="accent" (change)="agregarCheck(detRentaQuintaCategoria)"  
				 name="checkedView" #checkedView="ngModel" [(ngModel)]="detRentaQuintaCategoria.checked">
				 </mat-checkbox>
				<button matTooltip="{{'asociar' | transloco}}" *ngIf="showModal && !showAccionCheck" mat-icon-button (click)="asociar(detRentaQuintaCategoria)" color="accent">
					<mat-icon  class="mat-24" >add_circle_outline</mat-icon>
				</button>			   
				<button matTooltip="{{'modificar' | transloco}}" *ngIf="showAccionModificar"
								(click)="buscarID(detRentaQuintaCategoria)" mat-icon-button color="accent">
					<mat-icon class="mat-24">edit</mat-icon>
				</button>
				<button matTooltip="{{'eliminar' | transloco}}" *ngIf="showAccionEliminar"
								(click)="confirmarEliminar(detRentaQuintaCategoria)" mat-icon-button color="accent">
					<mat-icon class="mat-24">delete</mat-icon>
				</button>
				<mat-divider></mat-divider>
			</mat-list-item>
       	  </mat-list>
		</mat-nav-list>
		<app-paginacion [dataProvider]="dataProvider" [cantidadPage] = "cantidadPage" (change)="getBufferedData($event)"></app-paginacion>
	  </mat-card-content>			
	</mat-card >	
	<button matTooltip="{{'asociar' | transloco}}" *ngIf="showAccionAsociar" mat-fab (click)="dialogRef.close(listaDetRentaQuintaCategoriaSelectMap)"  >
		<mat-icon>check_circle</mat-icon>
	</button>	
   </div>	
	
   <div name="pnlGridFrmDetRentaQuintaCategoria" *ngIf="mostrarPanelForm"  >  
    <mat-card >
		<mat-card-header>
			<div mat-card-avatar>
				<mat-icon>folder</mat-icon>
			</div>
			<mat-card-title *ngIf="accionNuevo">{{'title.crear' | transloco }}</mat-card-title>
			<mat-card-title *ngIf="!accionNuevo">{{'title.modificar' | transloco }}</mat-card-title>
		</mat-card-header>
		<mat-divider></mat-divider>
		<p></p>
		<mat-card-content>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  formGroupName="idRentaQuintaCategoria" >
					<mat-form-field class="input-full-width">
						<mat-label>{{'idRentaQuintaCategoria' | transloco}}</mat-label>
						<input  matInput    formControlName="descripcionView"  required 
					      >
						<mat-error *ngIf="(invalid('idRentaQuintaCategoria.descripcionView')  )" > 
							<span *ngIf="invalid('idRentaQuintaCategoria.descripcionView')">{{getError('idRentaQuintaCategoria.descripcionView')}}</span>
						</mat-error>
						<mat-icon matSuffix class="lupa-ico" (click)="abrirModalRentaQuintaCategoriaidRentaQuintaCategoria()" >search</mat-icon>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  formGroupName="personal" >
					<mat-form-field class="input-full-width">
						<mat-label>{{'personal' | transloco}}</mat-label>
						<input  matInput   formControlName="descripcionView"  required 
					      >
						<mat-error *ngIf="(invalid('personal.descripcionView')  )" > 
							<span *ngIf="invalid('personal.descripcionView')">{{getError('personal.descripcionView')}}</span>
						</mat-error>
						<mat-icon matSuffix class="lupa-ico" (click)="abrirModalPersonalpersonal()" >search</mat-icon>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'remuneracionMensual' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="remuneracionMensual" >
						<mat-error *ngIf="(invalid('remuneracionMensual') )" > 
							<span *ngIf="invalid('remuneracionMensual')">{{getError('remuneracionMensual')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'faltaTardanza' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="faltaTardanza" >
						<mat-error *ngIf="(invalid('faltaTardanza') )" > 
							<span *ngIf="invalid('faltaTardanza')">{{getError('faltaTardanza')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'remuneracionEnero' | transloco}}</mat-label>
						<input [maxlength]="18" matInput   formControlName="remuneracionEnero" >
						<mat-error *ngIf="(invalid('remuneracionEnero') )" > 
							<span *ngIf="invalid('remuneracionEnero')">{{getError('remuneracionEnero')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'diasLab' | transloco}}</mat-label>
						<input [maxlength]="18" matInput  formControlName="diasLab" >
						<mat-error *ngIf="(invalid('diasLab') )" > 
							<span *ngIf="invalid('diasLab')">{{getError('diasLab')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'otraRemuneracion' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="otraRemuneracion" >
						<mat-error *ngIf="(invalid('otraRemuneracion') )" > 
							<span *ngIf="invalid('otraRemuneracion')">{{getError('otraRemuneracion')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'totalRemuneracion' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="totalRemuneracion" >
						<mat-error *ngIf="(invalid('totalRemuneracion') )" > 
							<span *ngIf="invalid('totalRemuneracion')">{{getError('totalRemuneracion')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'gratificacionJulio' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="gratificacionJulio" >
						<mat-error *ngIf="(invalid('gratificacionJulio') )" > 
							<span *ngIf="invalid('gratificacionJulio')">{{getError('gratificacionJulio')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'bonoExtraJulio' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="bonoExtraJulio" >
						<mat-error *ngIf="(invalid('bonoExtraJulio') )" > 
							<span *ngIf="invalid('bonoExtraJulio')">{{getError('bonoExtraJulio')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'gratificacionDiciembre' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="gratificacionDiciembre" >
						<mat-error *ngIf="(invalid('gratificacionDiciembre') )" > 
							<span *ngIf="invalid('gratificacionDiciembre')">{{getError('gratificacionDiciembre')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'bonoExtraDiciembre' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="bonoExtraDiciembre" >
						<mat-error *ngIf="(invalid('bonoExtraDiciembre') )" > 
							<span *ngIf="invalid('bonoExtraDiciembre')">{{getError('bonoExtraDiciembre')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'extraOrdinario' | transloco}}</mat-label>
						<input [maxlength]="18" matInput   formControlName="extraOrdinario" >
						<mat-error *ngIf="(invalid('extraOrdinario') )" > 
							<span *ngIf="invalid('extraOrdinario')">{{getError('extraOrdinario')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'remuneracionAcumulada' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="remuneracionAcumulada" >
						<mat-error *ngIf="(invalid('remuneracionAcumulada') )" > 
							<span *ngIf="invalid('remuneracionAcumulada')">{{getError('remuneracionAcumulada')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'remuneracionVariable' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="remuneracionVariable" >
						<mat-error *ngIf="(invalid('remuneracionVariable') )" > 
							<span *ngIf="invalid('remuneracionVariable')">{{getError('remuneracionVariable')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'bonificacionExtra' | transloco}}</mat-label>
						<input [maxlength]="18" matInput   formControlName="bonificacionExtra" >
						<mat-error *ngIf="(invalid('bonificacionExtra') )" > 
							<span *ngIf="invalid('bonificacionExtra')">{{getError('bonificacionExtra')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'remuneracionBruta' | transloco}}</mat-label>
						<input [maxlength]="18" matInput   formControlName="remuneracionBruta" >
						<mat-error *ngIf="(invalid('remuneracionBruta') )" > 
							<span *ngIf="invalid('remuneracionBruta')">{{getError('remuneracionBruta')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'rentaNeta' | transloco}}</mat-label>
						<input [maxlength]="18" matInput    formControlName="rentaNeta" >
						<mat-error *ngIf="(invalid('rentaNeta') )" > 
							<span *ngIf="invalid('rentaNeta')">{{getError('rentaNeta')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'impuestoRenta' | transloco}}</mat-label>
						<input [maxlength]="18" matInput   formControlName="impuestoRenta" >
						<mat-error *ngIf="(invalid('impuestoRenta') )" > 
							<span *ngIf="invalid('impuestoRenta')">{{getError('impuestoRenta')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
			<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" >
				<div fxFlex="50%" fxFlex.xs="50%"> 
				  <div class="div-input-text"  >
					<mat-form-field class="input-full-width">
						<mat-label>{{'retencion' | transloco}}</mat-label>
						<input [maxlength]="18" matInput   formControlName="retencion" >
						<mat-error *ngIf="(invalid('retencion') )" > 
							<span *ngIf="invalid('retencion')">{{getError('retencion')}}</span>
						</mat-error>
					</mat-form-field>
				   </div>					
				</div>
			</div>
		 </mat-card-content>
		 <mat-card-actions>
			<button  (click)="guardar()" color="primary"
					[disabled]="frmGroup.invalid" mat-raised-button>{{'guardar' | transloco}}</button>

			<button  (click)="cancelar()" color="accent"
					mat-raised-button>{{'cancelar' | transloco}}</button>
		 </mat-card-actions>		 
	   </mat-card>
	</div>
</form>