/* language=SCSS */
.listaitems-grid {
    grid-template-columns: auto 120px;

    @screen sm {
        grid-template-columns: auto 120px 0px;
    }

    @screen md {
        grid-template-columns: 112px auto 120px 0px;
    }

    @screen lg {
        grid-template-columns: 112px auto 80px 120px;
    }
}

[hidden] {
    display: none !important;
}