<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<ng-mf-bs-empty-layout *ngIf="layout === 'empty'"></ng-mf-bs-empty-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with horizontal navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Centered -->
<ng-mf-bs-centered-layout *ngIf="layout === 'centered'"></ng-mf-bs-centered-layout>

<!-- Enterprise -->
<ng-mf-bs-enterprise-layout *ngIf="layout === 'enterprise'"></ng-mf-bs-enterprise-layout>

<!-- Material -->
<ng-mf-bs-material-layout *ngIf="layout === 'material'"></ng-mf-bs-material-layout>

<!-- Modern -->
<ng-mf-bs-modern-layout *ngIf="layout === 'modern'"></ng-mf-bs-modern-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with vertical navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Classic -->
<ng-mf-bs-classic-layout *ngIf="layout === 'classic'"></ng-mf-bs-classic-layout>

<!-- Classy -->
<ng-mf-bs-classy-layout *ngIf="layout === 'classy'"></ng-mf-bs-classy-layout>

<!-- Compact -->
<ng-mf-bs-compact-layout *ngIf="layout === 'compact'"></ng-mf-bs-compact-layout>

<!-- Dense -->
<ng-mf-bs-dense-layout *ngIf="layout === 'dense'"></ng-mf-bs-dense-layout>

<!-- Futuristic -->
<ng-mf-bs-futuristic-layout *ngIf="layout === 'futuristic'"></ng-mf-bs-futuristic-layout>

<!-- Thin -->
<ng-mf-bs-thin-layout *ngIf="layout === 'thin'"></ng-mf-bs-thin-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Settings drawer - Remove this to remove the drawer and its button -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<ng-mf-bs-settings></ng-mf-bs-settings>
