<div name="pnlGridListDetPlanPagos" *ngIf="!mostrarPanelForm">
	<mat-card>
		<span *ngIf="showModal">{{'detPlanPagos.pnl.title' | transloco}}</span>
		<button mat-icon-button *ngIf="showComponentPage" (click)="regresarPage()" color="accent">
			<mat-icon class="mat-24">reply</mat-icon>
		</button> 

		<mat-card-content>
			<mat-nav-list>
				<div style="display: flex">
					<h3 mat-subheader *ngIf="titlePage != ''">{{titlePage}}</h3>
					<h3 mat-subheader>{{'detPlanPagos.grilla.pnl.title' | transloco}} ({{listasize}})</h3>
					<span fxFlex></span>
					<button matSuffix mat-mini-fab [disabled]="btonAdd" matTooltip="{{'nuevo' | transloco}}"
						*ngIf="showAccionNuevo" (click)="nuevo()" color="accent" class="app-fabx">
						<mat-icon>add</mat-icon>
					</button>
				</div>
				<mat-list *ngFor="let element of listaDetPlanPagos" class="noright">
					<mat-list-item dense>
						<mat-icon mat-list-icon *ngIf="element.esLista!='S'">shopping_basket
						</mat-icon>
						<mat-icon mat-list-icon *ngIf="element.esLista=='S'" (click)="openOpcion(element)">
							arrow_drop_down</mat-icon>
						<h3 mat-line>{{element.subTotal!=null?"SubTotal: "+element.subTotal:""}}
							{{element.igv!=null?"(IGV 18%): "+element.igv:""}} {{"Total Couta: "+element.cuota}}
							{{element.montoResta!=null?"Monto Resta: "+element.montoResta:""}}</h3>
						<h3 mat-line> {{element.nroCuota}} -{{element.cuotaConcepto.catalogoCuenta.cuenta}}
							{{element.cuotaConcepto.itemByNivel.nombre}}</h3> 
						<mat-checkbox *ngIf="showAccionCheck" color="accent" (change)="agregarCheck(element)"
							name="checkedView" #checkedView="ngModel" [(ngModel)]="element.checked">
						</mat-checkbox>
						<button matTooltip="{{'asociar' | transloco}}" *ngIf="showModal && !showAccionCheck"
							mat-icon-button (click)="asociar(element)" color="accent">
							<mat-icon class="mat-24">add_circle_outline</mat-icon>
						</button>
						<button matTooltip="{{'eliminar' | transloco}}" *ngIf="showAccionEliminar"
							(click)="confirmarEliminar(element)" mat-icon-button color="accent">
							<mat-icon class="mat-24">delete</mat-icon>
						</button>
					</mat-list-item>
					<mat-nav-list *ngIf="element.esLista=='S' &&  element.checked" dense>
						<mat-list *ngFor="let detPlanPagos2 of element.detPlanPagosDTOList">
							<mat-list-item class="noright" dense>
								<mat-icon mat-list-icon>shopping_basket</mat-icon>
								<p mat-line>{{detPlanPagos2.subTotal!=null?"SubTotal: "+detPlanPagos2.subTotal:""}}{{detPlanPagos2.igv!=null?"(IGV 18%): "+detPlanPagos2.igv:""}} {{"TotalCouta:"+detPlanPagos2.cuota}} {{detPlanPagos2.montoResta!=null?"MontoResta:"+detPlanPagos2.montoResta:""}}</p>
								<p mat-line>{{detPlanPagos2.nroCuota}}-{{detPlanPagos2.cuotaConcepto.catalogoCuenta.cuenta}} {{detPlanPagos2.cuotaConcepto.itemByNivel.nombre}}
								</p>
							</mat-list-item>
						</mat-list>
					</mat-nav-list>
					<mat-divider></mat-divider>
				</mat-list>
			</mat-nav-list> 
		</mat-card-content>
	</mat-card>
	<button matTooltip="{{'asociar' | transloco}}" *ngIf="showAccionAsociar" mat-fab
		(click)="dialogRef.close(listaDetPlanPagosSelectMap)">
		<mat-icon>check_circle</mat-icon>
	</button>
</div>

<div name="pnlGridFrmDetPlanPagos" *ngIf="mostrarPanelForm">
	<mat-card>
		<mat-card-header>
			<div mat-card-avatar>
				<mat-icon>folder</mat-icon>
			</div>
			<mat-card-title *ngIf="accionNuevo">{{'title.crear' | transloco }}</mat-card-title>
			<mat-card-title *ngIf="!accionNuevo">{{'title.modificar' | transloco }}</mat-card-title>
			<div fxFlex></div>
			<button style="margin-right: 10px;" (click)="findDetPlanPagos()" color="primary"
				[disabled]="frmGroup.invalid" mat-raised-button>{{'guardar' | transloco}}</button>

			<button (click)="cancelar()" color="accent" mat-raised-button>{{'cancelar' | transloco}}</button>
		</mat-card-header>
		<mat-divider></mat-divider>
		<p></p>
		<mat-card-content>
			<form [formGroup]="frmGroup" novalidate>
				<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row">
					<div fxFlex="50%" fxFlex.xs="50%">
						<div class="div-input-text" formGroupName="cuotaConcepto">
							<mat-form-field class="input-full-width">
								<mat-label>{{'cuotaConcepto' | transloco}}</mat-label>
								<input matInput 
									formControlName="descripcionView" required>
								<mat-error *ngIf="(invalid('cuotaConcepto.descripcionView')  )">
									<span
										*ngIf="invalid('cuotaConcepto.descripcionView')">{{getError('cuotaConcepto.descripcionView')}}</span>
								</mat-error>
								<mat-icon matSuffix class="lupa-ico" (click)="abrirModalCuotaConceptocuotaConcepto()">
									search</mat-icon>
							</mat-form-field>
						</div>
					</div>
					<div fxFlex="50%" fxFlex.xs="50%">
						<div class="div-input-text">
							<mat-form-field class="input-full-width">
								<mat-label>{{'cuota' | transloco}}</mat-label>
								<input type="number" [maxlength]="18" matInput 
									formControlName="cuota">
								<mat-error *ngIf="(invalid('cuota') )">
									<span *ngIf="invalid('cuota')">{{getError('cuota')}}</span>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row">
					<div fxFlex="25%" fxFlex.xs="25%">
						<div class="div-input-text">
							<mat-form-field class="input-full-width">
								<mat-label>{{'fechaVencimiento' | transloco}}</mat-label>
								<input matInput [matDatepicker]="ffechaVencimiento"
									formControlName="fechaVencimiento">
								<mat-datepicker-toggle matSuffix [for]="ffechaVencimiento"></mat-datepicker-toggle>
								<mat-error *ngIf="invalid('fechaVencimiento')">
									<span *ngIf="invalid('fechaVencimiento')">{{getError('fechaVencimiento')}}</span>
								</mat-error>
								<mat-datepicker #ffechaVencimiento [touchUi]="touch"></mat-datepicker>
							</mat-form-field>
						</div>
					</div>
					<div fxFlex="25%" fxFlex.xs="25%">
						<div class="div-input-text">
							<section class="example-section">
								<mat-slide-toggle color="primary" name="esIGV" formControlName="aplicaIgv">
									<a class="label-data">Aplica IGV(18%)</a>
								</mat-slide-toggle>
							</section>
						</div>
					</div>
					<div fxFlex="25%" fxFlex.xs="25%">
						<mat-label>{{'fraccionarCouta' | transloco}}</mat-label>
						<mat-slider [max]="maxFraccionamiento" class="input-full-widthx" [min]="minFraccionamiento"
							[step]="step" [thumbLabel]="thumbLabel" [tickInterval]="tickInterval"
							[formControl]="nroFraccionamiento" (click)="generarFraccionamientoNew()">
						</mat-slider>
						{{nroFraccionamiento.value}}
					</div>
				</div>
			</form>
			<mat-nav-list>
				<mat-list dense>
					<div fxLayout="row wrap" *ngFor="let detPlanPagos of listaDetPlanPagosTemp; let i = index"
						class="mat-list-item-ripple mat-ripple" fxLayout.xs="column" fxLayout.sm="row">
						<div fxFlex="5%" fxFlex.xs="5%">
							<div class="div-input-text" style="display: flex;align-items: center;">
								<mat-icon color="warn" mat-list-icon>monetization_on</mat-icon>
								<p mat-line> {{detPlanPagos.nroCuota}}</p>
							</div>
						</div>
						<div fxFlex="10%" fxFlex.xs="10%">
							<div class="div-input-textF">
								<mat-form-field appearance="outline" class="input-full-width">
									<mat-label>{{'subTotal' | transloco}}</mat-label>
									<input [readonly]="true" [maxlength]="18" [required]="true" matInput
										name="subTotal{{i}}" #subTotal="ngModel"
										[(ngModel)]="detPlanPagos.subTotal">
									<mat-error *ngIf="(subTotal.errors ) && (subTotal.dirty || subTotal.touched)">
										<span
											*ngIf="subTotal.errors?.required">{{'planPagos.modal.fraccionar.grilla.input.cuotaFraccionada.requiered'
											| transloco}}</span>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div fxFlex="10%" fxFlex.xs="10%">
							<div class="div-input-textF">
								<mat-form-field appearance="outline" class="input-full-width">
									<mat-label>(IGV 18%)</mat-label>
									<input [readonly]="true" [maxlength]="18" [required]="true" matInput
										 name="igv{{i}}" #igv="ngModel"
										[(ngModel)]="detPlanPagos.igv">
									<mat-error *ngIf="(igv.errors ) && (igv.dirty || igv.touched)">
										<span
											*ngIf="igv.errors?.required">{{'planPagos.modal.fraccionar.grilla.input.cuotaFraccionada.requiered'
											| transloco}}</span>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div fxFlex="20%" fxFlex.xs="20%">
							<div class="div-input-textF">
								<mat-form-field appearance="outline" class="input-full-width">
									<mat-label>{{'cuotaFraccionada' | transloco}}</mat-label>
									<input [readonly]="true" [maxlength]="18" [required]="true" matInput
										name="cuotaFracionada{{i}}"
										#cuotaFracionada="ngModel" [(ngModel)]="detPlanPagos.cuota">
									<mat-error
										*ngIf="(cuotaFracionada.errors ) && (cuotaFracionada.dirty || cuotaFracionada.touched)">
										<span
											*ngIf="cuotaFracionada.errors?.required">{{'planPagos.modal.fraccionar.grilla.input.cuotaFraccionada.requiered'
											| transloco}}</span>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div fxFlex="20%" fxFlex.xs="20%">
							<div class="div-input-textF">
								<mat-form-field appearance="outline" class="input-full-width">
									<mat-label>{{'fechaVencimiento' | transloco }}</mat-label>
									<input matInput [required]="true" [matDatepicker]="picker"
										name="fechaVencimiento{{i}}" #fechaVencimiento="ngModel"
										[(ngModel)]="detPlanPagos.fechaVencimiento">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-error [ngClass]="{'requiered': fechaVencimiento.errors}"
										*ngIf="fechaVencimiento.errors && (fechaVencimiento.dirty || fechaVencimiento.touched)">
										<span
											*ngIf="fechaVencimiento.errors?.required">{{'planPagos.modal.fraccionar.grilla.input.fechaVencimiento.requiered'
											| transloco}}</span>
									</mat-error>
									<mat-datepicker #picker></mat-datepicker>
								</mat-form-field>
							</div>
						</div> 
					</div>
				</mat-list>
			</mat-nav-list>
		</mat-card-content>
 
	</mat-card>
</div>