<div [hidden]="mostrarPanelForm"
	class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

	<ng-mf-bs-cabeceragrilla [isLoading]="isLoading" [titlePage]="titlePage" [searchInputControl]="searchInputControl"
		(changeEmitter)="changeEmitterEvent($event)"></ng-mf-bs-cabeceragrilla>

	<mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'" [animationDuration]="'0'"
		[selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)"
		(selectedTabChange)="tabChanged($event)">
		<mat-tab *ngFor="let it of listaNivel" label="{{it.nombre}}">
			<!-- Section -->
			<div class="flex flex-wrap items-center py-5 px-6">
				<mat-button-toggle-group class="flex flex-wrap -m-2" (change)="onFilterChange($event)">
					<ng-container *ngFor="let filter of listaGradoMap.get(it.id)">
						<mat-button-toggle class="m-2" [value]="filter">
							<span class="text-secondary">{{filter.nombre | titlecase}}</span>
						</mat-button-toggle>
					</ng-container>
				</mat-button-toggle-group>
			</div>
		</mat-tab>
	</mat-tab-group>
	<!-- Main -->
	<div class="flex flex-auto overflow-hidden">
		<!-- ListaData list -->
		<div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
			<ng-container>
				<div class="grid">
					<!-- Header -->
					<div class="seccion-grid z-10 sticky top-0 grid gap-4 py-3 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
						matSort matSortDisableClear>
						<div class="hidden md:block" [mat-sort-header]="'idSeccion'">
							{{ 'id' | transloco }}
						</div>
						<div [mat-sort-header]="'grado.idGrado'">{{ 'nombre' | transloco }}</div>
						<div class="hidden lg:block" [mat-sort-header]="'estado'">{{ 'activo' | transloco }}</div>
						<div class="hidden sm:block">{{ 'accion' | transloco }}</div>
					</div>
					<!-- Rows -->
					<ng-container *ngIf="(listaData$ | async) as listaData">
						<ng-container *ngFor="let objData of listaData; trackBy: trackByFn">
							<div class="seccion-grid grid items-center gap-4 py-2 px-6 md:px-8 border-b">
								<!-- SKU -->
								<div class="hidden md:block truncate">
									{{objData.idSeccion}}
								</div>
								<!-- nombre -->
								<div class="truncate">
									{{objData.grado.nombre}} - {{objData.nombre}}
								</div>
								<!-- Active -->
								<div class="hidden lg:block">
									<ng-container *ngIf="objData.estado">
										<mat-icon class="text-green-400 icon-size-5"
											[svgIcon]="'heroicons_solid:check'"></mat-icon>
									</ng-container>
									<ng-container *ngIf="!objData.estado">
										<mat-icon class="text-gray-400 icon-size-5" [svgIcon]="'heroicons_solid:x'">
										</mat-icon>
									</ng-container>
								</div>
								<!-- accion -->
								<div>
									<button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-icon-button
										matTooltip="{{'modificar' | transloco }}" (click)="find(objData)"
										[ngClass]="{'pointer-events-none': isLoading}">
										<mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'">
										</mat-icon>
									</button>
									<button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-icon-button
										matTooltip="{{'eliminar' | transloco }}" (click)="confirmarEliminar(objData)"
										[ngClass]="{'pointer-events-none': isLoading}">
										<mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:trash'">
										</mat-icon>
									</button>
								</div>
							</div>
						</ng-container>
					</ng-container>
					<ng-mf-bs-noresultados [length]="pagination?.length??0"></ng-mf-bs-noresultados>
				</div>

				<mat-paginator
					class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
					[ngClass]="{'pointer-events-none': isLoading}" [length]="pagination?.length??0"
					[pageIndex]="pagination?.page" [pageSize]="pagination?.size" [pageSizeOptions]="[5, 10, 25, 100]"
					[showFirstLastButtons]="true"></mat-paginator>

			</ng-container>

		</div>
	</div>

</div>

<div *ngIf="mostrarPanelForm" class="flex flex-col flex-auto min-w-0">
	<!-- Main -->
	<div class="flex flex-col flex-auto items-center p-6 sm:p-10">
		<div class="flex flex-col w-full">
			<ng-mf-bs-titlefrm [accionNuevo]="accionNuevo"></ng-mf-bs-titlefrm>
			<!-- Form -->
			<div class="mt-2 sm:mt-4 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
				<!-- Alert -->
				<ng-mf-bs-alert class="mb-8" *ngIf="false" [type]="alert.type" [showIcon]="false">
					{{alert.message}}
				</ng-mf-bs-alert>
				<form class="space-y-3" [formGroup]="frmGroup">
					<div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
						<!-- grado -->
						<mat-form-field class="sm:col-span-2 w-full" [ngClass]="'bs-mat-dense'" formGroupName="grado">
							<mat-select formControlName="idGrado" [required]="true">
								<mat-option *ngFor="let it of listaGrado " [value]="it.id">
									{{it.nombre}}
								</mat-option>
							</mat-select>
							<mat-label>{{'grado' | transloco }}</mat-label>
							<mat-error *ngIf="(invalid('idGrado') )">
								<span *ngIf="invalid('idGrado')">{{getError('idGrado')}}</span>
							</mat-error>
						</mat-form-field>
						<!-- codigo -->
						<mat-form-field class="sm:col-span-2 w-full" [ngClass]="'bs-mat-dense'">
							<input matInput formControlName="codigo" [required]="true">
							<mat-label>{{'codigo' | transloco }}</mat-label>
							<mat-error *ngIf="(invalid('codigo') )">
								<span *ngIf="invalid('codigo')">{{getError('codigo')}}</span>
							</mat-error>
						</mat-form-field>
						<!-- nombre -->
						<mat-form-field class="sm:col-span-2 w-full" [ngClass]="'bs-mat-dense'">
							<input matInput formControlName="nombre" [required]="true">
							<mat-label>{{'nombre' | transloco }}</mat-label>
							<mat-error *ngIf="(invalid('nombre') )">
								<span *ngIf="invalid('nombre')">{{getError('nombre')}}</span>
							</mat-error>
						</mat-form-field>
						<!-- estado -->
						<mat-form-field class="sm:col-span-2 w-full" [ngClass]="'bs-mat-dense'">
							<mat-select formControlName="estado" [required]="true">
								<mat-option *ngFor="let it of typeService.listaEstado" [value]="it.id">
									{{it.nombre}}
								</mat-option>
							</mat-select>
							<mat-label>{{'estado' | transloco }}</mat-label>
							<mat-error *ngIf="(invalid('estado') )">
								<span *ngIf="invalid('estado')">{{getError('estado')}}</span>
							</mat-error>
						</mat-form-field>
					</div>
					<!-- Actions -->
					<div class="flex items-center justify-end">
						<button mat-stroked-button (click)="cancelar()" [ngClass]="{'pointer-events-none': isLoading}">
							{{'cancelar' | transloco}}
						</button>
						<button class="ml-2" mat-flat-button [disabled]="frmGroup.invalid" [color]="'primary'"
							(click)="guardar()" [ngClass]="{'pointer-events-none': isLoading}">
							{{'guardar' | transloco}}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>