<div name="pnlGridListCargaAcademica" *ngIf="!mostrarPanelForm">
    <mat-card>
        <span *ngIf="showModal">{{'cargaAcademica.pnl.title' | transloco}}</span>
        <button mat-icon-button *ngIf="showComponentPage" (click)="regresarPage()" color="accent">
            <mat-icon class="mat-24">reply</mat-icon>
        </button>
        <mat-form-field class="search-full-width" color="accent">
            <mat-icon matPrefix>search</mat-icon>
            <input [maxlength]="20" matInput name="searchname" autocompleteOff  #searchname [formControl]="term" type="text"
                placeholder="{{'search' | transloco}}">
            <button matSuffix mat-icon-button *ngIf="term.value" aria-label="Clear" (click)="term.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <button matSuffix mat-icon-button matTooltip="{{'buscar' | transloco}}" (click)="buscar()">
                <mat-icon class="mat-24">replay</mat-icon>
            </button>
        </mat-form-field>
        <mat-card-content>
            <mat-nav-list>
                <mat-list dense>
                    <h3 mat-subheader *ngIf="titlePage != ''">{{titlePage}}</h3>
                    <h3 mat-subheader>{{'cargaAcademica.grilla.pnl.title' | transloco}} ({{listasize}})</h3>
                    <mat-list-item *ngFor="let cargaAcademica of listaCargaAcademica" class="noright">
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <p mat-line>{{cargaAcademica.nombre}}</p>
                        <p mat-line>{{cargaAcademica.seccion}}</p>
                        <mat-checkbox *ngIf="showAccionCheck" color="accent" (change)="agregarCheck(cargaAcademica)"
                            name="checkedView" #checkedView="ngModel" [(ngModel)]="cargaAcademica.checked">
                        </mat-checkbox>
                        <button matTooltip="{{'asociar' | transloco}}" *ngIf="showModal && !showAccionCheck"
                            mat-icon-button (click)="asociar(cargaAcademica)" color="accent">
                            <mat-icon class="mat-24">add_circle_outline</mat-icon>
                        </button>
                        <button matTooltip="{{'modificar' | transloco}}" *ngIf="showAccionModificar" mat-icon-button
                            color="accent">
                            <mat-icon class="mat-24">edit</mat-icon>
                        </button>
                        <button matTooltip="{{'eliminar' | transloco}}" *ngIf="showAccionEliminar"
                            (click)="confirmarEliminar(cargaAcademica)" mat-icon-button color="accent">
                            <mat-icon class="mat-24">delete</mat-icon>
                        </button>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </mat-nav-list>
            <app-paginacion [dataProvider]="dataProvider" [cantidadPage]="cantidadPage"
                (change)="getBufferedData($event)"></app-paginacion>
        </mat-card-content>
    </mat-card>
    <button matTooltip="{{'asociar' | transloco}}" *ngIf="showAccionAsociar" mat-fab
        (click)="dialogRef.close(listaCargaAcademicaSelectMap)">
        <mat-icon>check_circle</mat-icon>
    </button>
</div>